# The license key to enable enterprise features for self hosters
NEXT_PRIVATE_DOCUMENSO_LICENSE_KEY=

# [[AUTH]]
NEXTAUTH_SECRET="secret"

# [[CRYPTO]]
# Application Key for symmetric encryption and decryption
# REQUIRED: This should be a random string of at least 32 characters
NEXT_PRIVATE_ENCRYPTION_KEY="CAFEBABE"
# REQUIRED: This should be a random string of at least 32 characters
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY="DEADBEEF"

# [[AUTH OPTIONAL]]
NEXT_PRIVATE_GOOGLE_CLIENT_ID=""
NEXT_PRIVATE_GOOGLE_CLIENT_SECRET=""
NEXT_PRIVATE_MICROSOFT_CLIENT_ID=""
NEXT_PRIVATE_MICROSOFT_CLIENT_SECRET=""

NEXT_PRIVATE_OIDC_WELL_KNOWN=""
NEXT_PRIVATE_OIDC_CLIENT_ID=""
NEXT_PRIVATE_OIDC_CLIENT_SECRET=""
NEXT_PRIVATE_OIDC_PROVIDER_LABEL="OIDC"
NEXT_PRIVATE_OIDC_SKIP_VERIFY=""
NEXT_PRIVATE_OIDC_PROMPT="login"

# [[URLS]]
NEXT_PUBLIC_WEBAPP_URL="http://localhost:5000"
NEXT_PRIVATE_INTERNAL_WEBAPP_URL="http://localhost:5000"

# [[SERVER]]
PORT=5000

# [[DATABASE]]
NEXT_PRIVATE_DATABASE_URL="postgres://fundconnecthk:password@127.0.0.1:54320/fundconnecthk"
NEXT_PRIVATE_DIRECT_DATABASE_URL="postgres://fundconnecthk:password@127.0.0.1:54320/fundconnecthk"

# [[SIGNING]]
NEXT_PRIVATE_SIGNING_TRANSPORT="local"
NEXT_PRIVATE_SIGNING_PASSPHRASE=
NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH=
NEXT_PRIVATE_SIGNING_LOCAL_FILE_CONTENTS=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_KEY_PATH=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_PUBLIC_CRT_FILE_PATH=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_PUBLIC_CRT_FILE_CONTENTS=
NEXT_PRIVATE_SIGNING_GCLOUD_APPLICATION_CREDENTIALS_CONTENTS=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_CERT_CHAIN_FILE_PATH=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_CERT_CHAIN_CONTENTS=
NEXT_PRIVATE_SIGNING_GCLOUD_HSM_SECRET_MANAGER_CERT_PATH=
NEXT_PRIVATE_SIGNING_TIMESTAMP_AUTHORITY=
NEXT_PUBLIC_SIGNING_CONTACT_INFO=
NEXT_PRIVATE_USE_LEGACY_SIGNING_SUBFILTER=

# [[STORAGE]]
NEXT_PUBLIC_UPLOAD_TRANSPORT="database"
NEXT_PRIVATE_UPLOAD_ENDPOINT="http://127.0.0.1:9002"
NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE="false"
NEXT_PRIVATE_UPLOAD_REGION="unknown"
NEXT_PRIVATE_UPLOAD_BUCKET="fundconnecthk"
NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID="fundconnecthk"
NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY="password"

# [[SMTP]]
NEXT_PRIVATE_SMTP_TRANSPORT="smtp-auth"
NEXT_PRIVATE_SMTP_HOST="127.0.0.1"
NEXT_PRIVATE_SMTP_PORT=1025
NEXT_PRIVATE_SMTP_USERNAME="fundconnecthk"
NEXT_PRIVATE_SMTP_PASSWORD="password"
NEXT_PRIVATE_SMTP_APIKEY_USER=
NEXT_PRIVATE_SMTP_APIKEY=
NEXT_PRIVATE_SMTP_SECURE=
NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS=
NEXT_PRIVATE_SMTP_FROM_NAME="FundConnectHK"
NEXT_PRIVATE_SMTP_FROM_ADDRESS="noreply@fundconnecthk.com"
NEXT_PRIVATE_SMTP_SERVICE=
NEXT_PRIVATE_RESEND_API_KEY=
NEXT_PRIVATE_MAILCHANNELS_API_KEY=
NEXT_PRIVATE_MAILCHANNELS_ENDPOINT=
NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN=
NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR=
NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY=
NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT=5

# [[EE ONLY]]
NEXT_PRIVATE_SES_ACCESS_KEY_ID=
NEXT_PRIVATE_SES_SECRET_ACCESS_KEY=
NEXT_PRIVATE_SES_REGION=

# [[STRIPE]]
NEXT_PRIVATE_STRIPE_API_KEY=
NEXT_PRIVATE_STRIPE_WEBHOOK_SECRET=

# [[BACKGROUND JOBS]]
NEXT_PRIVATE_JOBS_PROVIDER="local"
NEXT_PRIVATE_INNGEST_EVENT_KEY=

# [[FEATURES]]
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_FEATURE_BILLING_ENABLED=
NEXT_PUBLIC_DISABLE_SIGNUP=
NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS=false

# [[TELEMETRY]]
DOCUMENSO_DISABLE_TELEMETRY=

# [[AI]]
GOOGLE_VERTEX_PROJECT_ID=""
GOOGLE_VERTEX_LOCATION="global"
GOOGLE_VERTEX_API_KEY=""

# [[E2E Tests]]
E2E_TEST_AUTHENTICATE_USERNAME="Test User"
E2E_TEST_AUTHENTICATE_USER_EMAIL="testuser@mail.com"
E2E_TEST_AUTHENTICATE_USER_PASSWORD="test_Password123"
DANGEROUS_BYPASS_RATE_LIMITS=

# [[LOGGER]]
NEXT_PRIVATE_LOGGER_FILE_PATH=

# [[PLAIN SUPPORT]]
NEXT_PRIVATE_PLAIN_API_KEY=
